/* 模拟Element UI的样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

/* 容器样式 */
.layout-container {
  min-height: 100vh;
}

/* Header样式 */
.ant-layout-header {
  font-size: 40px;
  background-color: rgb(238, 241, 246) !important;
  color: #333;
  line-height: 64px;
  padding: 0 24px;
}

/* Sidebar样式 */
.ant-layout-sider {
  background-color: rgb(238, 241, 246) !important;
  min-height: calc(100vh - 64px);
}

/* Menu样式 */
.ant-menu {
  background-color: rgb(238, 241, 246) !important;
  border-right: none !important;
}

.ant-menu-submenu-title,
.ant-menu-item {
  font-size: 14px;
  color: #303133;
}

.ant-menu-item-selected {
  background-color: #ecf5ff !important;
  color: #409eff !important;
}

.ant-menu-item:hover {
  color: #409eff !important;
}

/* 表格样式 */
.ant-table {
  font-size: 14px;
}

.ant-table-thead > tr > th {
  background-color: #f5f7fa;
  color: #909399;
  font-weight: 600;
}

.ant-table-tbody > tr:hover > td {
  background-color: #f5f7fa !important;
}

/* 按钮样式 */
.ant-btn {
  border-radius: 4px;
  font-size: 14px;
}

.ant-btn-primary {
  background-color: #409eff;
  border-color: #409eff;
}

.ant-btn-primary:hover {
  background-color: #66b1ff;
  border-color: #66b1ff;
}

.ant-btn-success {
  background-color: #67c23a;
  border-color: #67c23a;
  color: white;
}

.ant-btn-success:hover {
  background-color: #85ce61;
  border-color: #85ce61;
}

.ant-btn-danger {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: white;
}

.ant-btn-danger:hover {
  background-color: #f78989;
  border-color: #f78989;
}

/* 表单样式 */
.ant-form-item-label > label {
  color: #606266;
  font-weight: 500;
}

.ant-input {
  border-radius: 4px;
  border: 1px solid #dcdfe6;
}

.ant-input:hover {
  border-color: #c0c4cc;
}

.ant-input:focus {
  border-color: #409eff;
  box-shadow: 0 0 0 2px rgba(64, 158, 255, 0.2);
}

/* 分页样式 */
.ant-pagination-item {
  border-radius: 4px;
}

.ant-pagination-item-active {
  background-color: #409eff;
  border-color: #409eff;
}

.ant-pagination-item-active a {
  color: white;
}

/* Modal样式 */
.ant-modal-header {
  background-color: #f0f2f5;
  border-bottom: 1px solid #e8e8e8;
}

.ant-modal-title {
  color: #303133;
  font-weight: 600;
}